.element__like {
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 22px;
  height: 19px;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}