.popup__input {
  width: 99%;
  margin-bottom: 30px;
  height: 26px;
  border: none;
  border-bottom: 1px solid rgba(0,0,0, 0.2);
  padding: 0px 0px 6px 1px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 121%;
}