.popup__container {
  position: relative;
  box-sizing: border-box;
  padding: 34px 36px 37px;
  max-width: 430px;
  min-height: 330px;
  background-color: #fff;
  border-radius: 10px;
}

@media (max-width: 550px) {
  .popup__container {
    width: 282px;
    min-height: 322px;
    padding: 25px 22px;
  }
}