.profile__info-button {
  border: 1px solid #fff;
  background-color: transparent;
  width: 24px;
  height: 24px;
  background-image: url(../../../images/pencil.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  grid-area: button;
  margin: 15px 0 0 19px;
}

@media (max-width: 550px) {
  .profile__info-button {
    margin: 7px 0 0 10px;
    width: 18px;
    height: 18px;
  }
}