.element__link {
  font-weight: 900;
  max-width: 190px;
  color: #000;
  font-size: 24px;
  line-height: 121%;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}