.modal__button {
  width: 100%;
  height: 50px;
  background-color: #000;
  border: none;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  line-height: 121%;
  font-family: 'Inter', sans-serif;
  transition: opacity 0.5s;
}

.modal__button:hover {
  opacity: 0.8;
}