.profile__info-title {
  font-size: 42px;
  line-height: 114%;
  font-weight: 500;
  color: #fff;
  margin: 0;
  margin-bottom: 8px;
  letter-spacing: 0.01em;
}

@media (max-width: 700px) {
  .profile__info-title{
    margin-bottom: 14px;
  }
}

@media (max-width: 550px) {
  .profile__info-title{
    
    font-size: 27px;
  }
}